<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Class List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">

    <h1>Class List</h1>
    <table class="table table-active" >
        <style>
            table,th,td{
                padding: 15px;
                border: 3px solid green;
            }

            th.left{

                width: 30px;

            }
            th.center{
                width: 150px;

            }
            th.right{
                width: 50px;
            }
        </style>

        <tr bgcolor="#1d2124"> <!-- thẻ tr dùng để tạo 1 hàng trong  bảng
         nó bao gồm thẻ th và thẻ td, trong đó th dùng để xác định tiêu đề, td dùng để xác định nội dung
         -->
            <th class="left"   style="color: white; text-align: center;">Class Code </th>
            <th class="center" style="color: white; text-align: center;">Class Name </th>
            <th class="right"  style="color: white; text-align: center; ">Action</th>

        </tr>

        <tr  th:each="cl : ${clazzes}">
            <td style =" text-align: center;" th:text="${cl.idClazz}"></td>
            <td style =" text-align: center;" th:text="${cl.nameClazz}"></td>
          <td style =" text-align: center;">  <a th:href="@{/{id}/list1(id=${cl.idClazz})}" > More Detail </a></td>


        </tr>

    </table>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>